# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# all of that just to ignore bin files

# Cache that gets created after running the python files
__pycache__/
# Vscode spellchecker settings
.vscode/
# testing features in asm before adding to the language
asm_testing/
# testing parsing expressions in a separate file before implementing
testparsing.py
# Object and assembly files created by compilation
*.o
*.asm