# ignore all
*
# unignore all with extensions
!*.*
# unignore all dirs
!*/
# all of that just to ignore bin files

# cache that gets created after running the python files
__pycache__/
# vscode spellchecker settings
.vscode/
# testing features in asm before adding to the language
asm_testing/
# object and assembly files created by compilation
*.o
*.asm
# unignores the main file (renamed hdz.py to hdz to hdzc)
!hdzc