# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# all of that just to ignore bin files

# Cache that gets created after running the python files
__pycache__/
# Vscode spellchecker settings
.vscode/
# Object and assembly files created by compilation
*.o
*.asm